<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>CampusReserve</display-name>

    <listener>
        <listener-class>com.campusreserve.listener.DatabaseInitializer</listener-class>
    </listener>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.campusreserve.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LoginCheckFilter</filter-name>
        <filter-class>com.campusreserve.filter.LoginCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/reservation/*</url-pattern>
        <url-pattern>/mypage/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminCheckFilter</filter-name>
        <filter-class>com.campusreserve.filter.AdminCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminCheckFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>com.campusreserve.controller.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <path>/</path>
        </cookie-config>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.do</welcome-file>
    </welcome-file-list>

    <resource-ref>
        <description>CampusReserve H2 DataSource</description>
        <res-ref-name>jdbc/CampusReserveDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
